{% extends 'core/base.html' %}

{% block content %}

    <body>
        <div class="container bg-light shadow-md p-5 form-layout">
            <h3 class="align-middle text-center"> INICIAR SESION </h3>
            <br>

            <form class="align-middle text-center" method="POST" autocomplete="off">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success w-100 btn-block m-3"> Login &nbsp; <i class="fa fa-key" aria-hidden="true"></i> </button>
            </form>

            <br>
            <div class="text-center">
                <p> Don't have an account? </p> <a href="{% url 'core:register' %}"> Register </a>
            </div>
        </div>
        <br>
    </body>

{% endblock %}