{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<body class="bg-black">
    <div>
        <!-- Content here -->
        <div class="text-center">
            <img src="{% static 'images/gringo.png' %}" alt="logo" width="400px">
            <div class="text-success">
                <hr class="border border-success border-3 opacity-75">
            </div>
            <br>
            <!-- <p class="text-white fw-lighter ">Sushi</p> -->
        </div>
      </div>


        
</body>

{% endblock %}