{% extends 'core/base.html' %}

{% load static %}

{% block content %}

<body class="bg-black">
    <div class="container shadow-md p-5 form-layout text-white">
        <h3> Editar producto </h3>
        <br>

        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            
            <br>
            
            <button type="submit" class="btn btn-success">                
                Update &nbsp; <i class="fa fa-check" aria-hidden="true"></i>
            </button>

            &nbsp;

            <a href="{% url 'core:products' %}" class="btn btn-secondary"> 
                Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>


        </form>

    </div>

    <br>

</body>

{% endblock %}